<!-- Please add your header here -->

<html>
    <head>
        <link href="header.css" rel="stylesheet">
    </head>
    <body style="margin: 0;">
        <header class="customize-header">
            <h1>Rocket TE Web Edition</h1>
        </header>
        <div class="container">
            <aside class="aside">
                <p>Navigation</p>
                <a href="">Home</a>
                <a href="">Document</a>
            </aside>
            <section class="section">
                Rocket TE Web Edition is a terminal emulator designed to communicate with today's most popular host systems. It's written entirely in JavaScript and HTML5 and works with modern web browsers and can run on PC’s, tablets or just about any mobile device regardless of the client OS. No software is installed on the client device.
        
                The Rocket TE Web Edition server, connects the web-based client terminal emulator to the terminal host. The server can be installed on any platform that supports Node.js.
        
                Neither the Rocket TE Web Edition client, nor the server, are dependent on any particular client or server operating system.
            </section>
        </div>
    </body>
    
</html>